# SQLite3 연동

In [1]:
# 라이브러리 임포트
import sqlite3 # 파이썬안에 이미 sqlite 존재

## create table

In [ ]:
# test.db 파일 안에 phonebook 테이블 생성

conn = sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute('create table phonebook ('
               'name char(32), '
               'phone char(32), '
               'email char(64) primary key)')

cursor.close()
conn.close()

## insert record

In [4]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute('''
insert into phonebook(name, phone, email) values(?,?,?)
''',('강호동', '010-1111-1111', 'hodong@company.com'))

cursor.execute('''
insert into phonebook(name, phone, email) values(?,?,?)
''',('유재석', '010-2222-2222', 'jaesuk@you.com'))

conn.commit()

cursor.close()
conn.close()

## select record

In [5]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute("select * from phonebook")
rows = cursor.fetchall()

for row in rows:
    print("name:{0},phone:{1},email:{2}".format(row[0],row[1],row[2]))

cursor.close()
conn.close()

name:강호동,phone:010-1111-1111,email:hodong@company.com
name:유재석,phone:010-2222-2222,email:jaesuk@you.com

## update record

In [6]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute('''
update phonebook set phone=?, email=? where name=?
''',('010-1234-5678', 'abcd@xyz.com', '강호동'))

conn.commit()

cursor.close()
conn.close()

## delete record

In [7]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute('''
delete from phonebook where email=?
''',('abcd@xyz.com',))

conn.commit()

cursor.close()
conn.close()