In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings("ignore")
plt.style.use('ggplot')

In [14]:
# 가스 데이터
gas = pd.read_csv('./data/한국가스공사_월간 시도별 도시가스 판매현황_20201231.csv', encoding='cp949')

print(gas)
# 주어진 가스 데이터는 1989년 1월 ~ 2020년 12월 도시가스판매현황

        연   월     강원      서울      경기      인천      경남      경북      광주      대구  \
0    1989   1    326   37560       0   10468    2942     150    2203    1940
1    1989   2    272   33566       0    9211    2940     139    2034    1756
2    1989   3    253   30224       0    9608    2702     271    1940    1896
3    1989   4    163   18668       0    7736    1951     239    1225    1416
4    1989   5    134   15790       0    7091    1564     359     903    1270
..    ...  ..    ...     ...     ...     ...     ...     ...     ...     ...
379  2020   8  19076  163032  255222   70646   50960   76285   36452   53419
380  2020   9  18822  147556  243817   72542   53774   80552   37453   51142
381  2020  10  25946  213556  339823   78654   62056   95788   50615   52524
382  2020  11  35632  375289  497221  115663   84474  124036   71840   78450
383  2020  12  57301  636178  742863  179536  124291  167410  115182  117002

         대전      부산      세종      울산     전남      전북    제주     충남     충북
0       322    3112       0    2006    764     586     0      0      0
1       345    3052       0    1900    722     864     0      0      0
2       268    3714       0    2135    734     980     0      0      0
3       257    2497       0    1402    533     600     0      0      0
4       196    2268       0    1445    474     461     0      0      0
..      ...     ...     ...     ...    ...     ...   ...    ...    ...
379   32575   70508   93624  103814  40148   43885  1506  23090   7857
380   30989   70849  100875  112923  44921   48190  1179  37694   7378
381   43234   85283  120481  132347  49228   61328  1414  50694   8270
382   71668  122943  165923  164927  55073   82360  2161  58945  10230
383  114229  200163  232957  246272  77270  113880  4220  75782  13340

[384 rows x 19 columns]

In [10]:
# 가스 데이터 전처리
gas['year'] = pd.to_numeric(gas['연'])
gas['month'] = pd.to_numeric(gas['월'])
gas['usageGas'] = gas['서울']

# 가스 데이터에서 year, month, usageGas 만 따로 분리
gas = gas.loc[:,['year','month','usageGas']]

# year, month를 인덱스로 설정
gas.set_index(['year','month'], inplace=True)

gas.info()
# gas.head()
# gas.tail()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 384 entries, (1989, 1) to (2020, 12)
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   usageGas  384 non-null    int64
dtypes: int64(1)
memory usage: 5.5 KB

In [13]:
# 기계학습으로 예측한 값을 다시 가스사용량으로 도출하기 위해 평균과 표준편차를 변수에 저장
usageMean = gas['usageGas'].mean()
usageStd = gas['usageGas'].std()

# 가스 데이터 표준화
gas['usageGas'] = (gas['usageGas'] - gas['usageGas'].mean())/gas['usageGas'].std()

print(gas)

            usageGas
year month
1989 1     -1.172237
     2     -1.189642
     3     -1.204206
     4     -1.254563
     5     -1.267105
...              ...
2020 8     -0.625467
     9     -0.692907
     10    -0.405298
     11     0.299487
     12     1.436366

[384 rows x 1 columns]

In [15]:
# 날씨 데이터
weather = pd.read_csv('./data/2000-01~2021-11m.csv', encoding='cp949')

print(weather)
# 주어진 가스 데이터는 2000년 1월 ~ 2021년 11월 도시가스판매현황

      지점 지점명       일시  평균기온(°C)  평균최고기온(°C)  평균최저기온(°C)  최고기온(°C)  최저기온(°C)  \
0    108  서울  2000-01      -2.1         1.7        -5.7       9.9     -12.1
1    108  서울  2000-02      -1.7         2.6        -5.8       7.5     -11.6
2    108  서울  2000-03       6.3        11.4         1.7      18.9      -4.8
3    108  서울  2000-04      11.9        16.9         7.3      23.5       1.8
4    108  서울  2000-05      17.5        22.7        12.9      30.5       7.9
..   ...  ..      ...       ...         ...         ...       ...       ...
258  108  서울  2021-07      28.1        32.2        24.6      36.5      19.6
259  108  서울  2021-08      25.9        29.7        22.8      33.7      18.1
260  108  서울  2021-09      22.6        26.9        18.8      30.3      16.0
261  108  서울  2021-10      15.6        20.5        11.6      28.8       1.3
262  108  서울  2021-11       8.2        13.1         4.0      21.3      -3.7

     최고기온 나타난날(yyyymmdd)  최저기온 나타난날(yyyymmdd)
0               20000101             20000107
1               20000219             20000201
2               20000327             20000308
3               20000420             20000411
4               20000525             20000502
..                   ...                  ...
258             20210724             20210703
259             20210805             20210831
260             20210913             20210930
261             20211003             20211017
262             20211107             20211123

[263 rows x 10 columns]

In [ ]:
# 날씨 데이터 전처리
weather['year'] = pd.to_numeric(weather['일시'].str.split('-').str.get(0))
weather['month'] = pd.to_numeric(weather['일시'].str.split('-').str.get(1))
weather['meanTemp'] = weather['평균기온(°C)']
weather['meanHighTemp'] = weather['평균최고기온(°C)']
weather['meanLowTemp'] = weather['평균최저기온(°C)']
# weather['highTemp'] = weather['최고기온(°C)']
# weather['lowTemp'] = weather['최저기온(°C)']

# 날씨 데이터에서 year, month, meanTemp, meanHighTemp, meanLowTemp 만 따로 분리
weather = weather.loc[:,['year','month','meanTemp','meanHighTemp','meanLowTemp']]