## 시계열분석을 통한 가스 소비량 예측

### Index
#### 1. 데이터 수집
#### 2. 데이터 탐색
#### 3. 분석을 위한 데이터 전처리
#### 4. 머신러닝 모델 구조 생성
#### 5. 머신러닝 훈련 데이터셋 학습
#### 6. 머신러닝 시험 데이터셋 예측
#### 7. 모델 평가

In [5]:
# 1. 데이터 수집
import pandas as pd

In [8]:
# 가스공사 월간 시도별 도시가스 판매현황 로드
dataGas = pd.read_csv('./data/gasData.csv', encoding='cp949')

dataGas.head()

,연,월,강원,서울,경기,인천,경남,경북,광주,대구,대전,부산,세종,울산,전남,전북,제주,충남,충북
0,1989,1,326,37560,0,10468,2942,150,2203,1940,322,3112,0,2006,764,586,0,0,0
1,1989,2,272,33566,0,9211,2940,139,2034,1756,345,3052,0,1900,722,864,0,0,0
2,1989,3,253,30224,0,9608,2702,271,1940,1896,268,3714,0,2135,734,980,0,0,0
3,1989,4,163,18668,0,7736,1951,239,1225,1416,257,2497,0,1402,533,600,0,0,0
4,1989,5,134,15790,0,7091,1564,359,903,1270,196,2268,0,1445,474,461,0,0,0

In [3]:
# 데이터셋 전처리

In [4]:
# 데이터셋 훈련데이터셋, 검증데이터셋으로 분리

In [5]:
# 머신러닝 모델 구성

In [6]:
# 머신러닝 모델 컴파일

In [7]:
# 머신러닝 모델 학습

In [ ]:
# 모델로 검증 데이터셋 확인